#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 250px;
border: 1px solid black;
padding: 5px;
margin: 5px;
border-radius: 5px;
box-shadow:
inset 0 -3em 3em rgba(0,0,0,0.1),
      0 0  0 2px rgb(255,255,255),
      0.3em 0.3em 1em rgba(0,0,0,0.3);
}



.title-post {
  margin: 15px;
}
.body-post {
  margin: 0;
}
.user {
  margin: 0;
  padding: 5px;
}

p{
  width: 90%;
}

.user-email {
  margin: 0;
}

button {
  margin-top:auto;
  padding: 15px;
}
